.product-slider{
    overflow: scroll;
    scroll-behavior: smooth;
}

.product-slider::-webkit-scrollbar{
    display: none;
}
  
#card-img-container{
  background-image: url('../../../../../public/images/Home/card-img.png');
  background-position: center;
  background-size: contain;
}

.course-btn:hover{
  background-color: #844020;
  border-color: #844020;
  color: antiquewhite;
}
  