@font-face {
    font-family: 'BlackMango';
    src: url('./black-mango-font-modern-beauty-family/TTF/BlackMango-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'BlackMango';
    src: url('./black-mango-font-modern-beauty-family/TTF/BlackMango-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'BlackMango';
    src: url('./black-mango-font-modern-beauty-family/TTF/BlackMango-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'BlackMango';
    src: url('./black-mango-font-modern-beauty-family/TTF/BlackMango-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'BlackMango';
    src: url('./black-mango-font-modern-beauty-family/TTF/BlackMango-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'BlackMango';
    src: url('./black-mango-font-modern-beauty-family/TTF/BlackMango-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'BlackMango';
    src: url('./black-mango-font-modern-beauty-family/TTF/BlackMango-ExtraLight.ttf');
    font-weight: 200;
}