
#gallery-img2-container{
    background-image: url('../../../../../public/images/Home/gallery2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#gallery-btn{
    color: #843F20;
    border: 1.3px solid #843F20;
}
#gallery-btn:hover{
    background-color: #844020ce;
    color: antiquewhite;
}