.App {
  text-align: center;
  background-color: #F7F0E6;
  max-width: 2000px;
}

/* Common rectangular btn */
/* .btn{
  
} */
@media screen and (max-width:640px) {
  .btn-small-text{
    font-size: 0.5rem;
  }
}


.section-heading{
  font-size: 1.8rem;
  font-weight: 400;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
