.aboutus-body{
    background-image: url('../../../../../public/images/Home/aboutusBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#border-text{
    font-weight: 500;
    color: transparent;
    text-align: end;
    width: fit-content;
    -webkit-text-stroke: 0.5px white; /* Border width and color */
}

#aboutus-video-container{
    background-image: url("../../../../../public/images/Home/aboutusVideo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.play-video:hover{
    background-color: rgba(56, 56, 56, 0.226);
    transform: scale(1.2)
}



