.aboutus-body{
    background-image: url('../../../../../public/images/Home/aboutusBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}



/* 
.aboutus-extra-container{
    width: 100%;
    height: 75%;
    position: relative;
} */

#border-text{
    font-weight: 500;
    color: transparent;
    text-align: end;
    width: fit-content;
    -webkit-text-stroke: 0.5px white; /* Border width and color */
}

#aboutus-video-container{
    background-image: url("../../../../../public/images/Home/aboutusVideo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* #aboutus-play{
    font-size: 2.5rem;
}

#aboutus-big-img{
    width: 200px;
    position: absolute;
    top: 40%;
    left: 54%;
}
#aboutus-small-img{
    width: 120px;
    position: absolute;
    top: 53%;
    left: 32%;
} */